<html>
    <head>
        Login
        <body>
            <form action=''method='post'>
                {% csrf_token %}
                <input type='text' name='username' placeholder='enter the username'><br>
                <input type='password' name='password' placeholder='enter the password'><br>
                <input type='submit'>
                <p>Don't have an account?<a href="register">Register</a></p>
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
        </body>
    </head>
</html>